@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Saira:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Nova+Mono:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sometype+Mono:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;500;700&display=swap");

:root {
    /* primary font: load and set your favourite font */
    --theme-font-primary: Saira, sans-serif;
    --theme-font-size-primary: medium;

    /* datatable font: load and set your favourite font  */
    --theme-datatable-font: '--Sometype Mono','--Courier Prime', '--Source Code Pro', 'Nova Mono', monospace;
    --theme-datatable-font-size: inherit;

    /* preferences for breaking long values */
    --theme-datatable-white-space: normal;
    --theme-datatable-overflow-wrap: break-word;
}
