/* feelin' blue ? */

:root {
    --theme-bg-primary: oklch(0% 0 0);
    --theme-text-primary: #fff;
    --theme-bg-secondary:  oklch(20% 0 0);
    --theme-text-link: #bbb;
    --theme-bg-accent: wheat;
    --theme-text-accent: darkgoldenrod;
    --theme-border: #555;
    --theme-logo-filter: grayscale(100%);
    --theme-box-shadow:  1px 1px 1px transparent;
}

.jush {
    --text-color: yellow;
    --identifier-color: white;
    --number-color: violet;
}
