/* Beneath the sheltering sky */

:root {
    --theme-bg-primary: floralwhite;
    --theme-text-primary: #333;
    --theme-bg-secondary: antiquewhite;
    --theme-text-link: steelblue;
    --theme-bg-accent: wheat;
    --theme-text-accent: chocolate;
    --theme-border: #ccc;
    --theme-logo-filter: sepia(100%);
    --theme-box-shadow:  1px 1px 1px #ccc;
}

.jush {
    --text-color: orangered;
    --identifier-color: fuchsia;
    --number-color: green;
}
