/* load your prefered fonts from google fonts or other provider*/

/* @import url("https://fonts.googleapis.com/css2?family=Saira:wght@400;500;700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&display=swap"); */

/* @import url("https://fonts.googleapis.com/css2?family=Nova+Mono:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sometype+Mono:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;700&display=swap"); */

:root {
    /* global primary font */
    --theme-font-primary:  Roboto, sans-serif;
    --theme-font-size-primary: medium;

    /* specific datatable font & size: overwrite "inherit" as required */
    --theme-datatable-font:  inherit;
    --theme-datatable-font-size: inherit;

    /* white-space and overflow config */
    --theme-datatable-white-space: normal;
    --theme-datatable-overflow-wrap: break-word;
}
