/* feelin' blue ? */

:root {
    --theme-bg-primary: oklch(5% 0.149 302.717);
    --theme-text-primary: oklch(90% 0.149 302.717);
    --theme-bg-secondary: oklch(20% 0.149 302.717);
    --theme-text-link: oklch(75% 0.149 302.717);
    --theme-text-accent: gold;
    --theme-bg-accent: oklch(45% 0.149 302.717);
    --theme-border: #555;
    --theme-logo-filter: grayscale(0%);
}

.jush {
    --text-color: yellow;
    --identifier-color: white;
    --number-color: violet;
}

* {
    box-shadow: none !important;
}
