/* assets: edit and set your font preferences */
@import url('./assets/fonts.css');

@import url('./assets/theme-black-is-black.css');
/* @import url('./assets/theme-cream.css'); */
/* @import url('./assets/theme-let-it-snow.css'); */
/* @import url('./assets/theme-purple-rain.css'); */


/* mini reset & common */

* {
    box-sizing: border-box;
    font-family: var(--theme-font-primary);
    font-size: var(--theme-font-size-primary);
    border-color: var(--theme-border) !important;
}

/* globals */

html {
    --bg: var(--theme-bg-primary);
    --fg: var(--theme-text-primary);
    --dim: var(--theme-bg-secondary);
    --lit: var(--theme-bg-secondary);
}

/* global layout  */

#lang {
    padding: 8px 0px 10px 16px !important;
    width: 100%;
    display: block;

    select {
        border: 0;
        background-color: var(--theme-bg-primary);
        position: absolute;
        left: 15px;
        right: 0;

        &:hover {
            color: var(--theme-text-accent);
            background-color: var(--theme-bg-accent);
        }
    }
}

h1,
h2 {
    margin-top: 4px;
    border: 0;
    border-radius: 4px;
    color: var(--theme-text-accent);
    box-shadow: var(--theme-box-shadow);
}

h1 {
    margin-left: 14px;
}

h1 a#h1 {
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
    font-size: 18px;
    color: var(--theme-text-accent) !important;
}

.version {
    display: inline-flex;
    font-family: monospace;
    letter-spacing: -1px;
    font-weight: 700;
    border-radius: 9999px;
    padding: 2px 6px 2px 6px;
    color: var(--theme-text-accent);
    background-color: var(--theme-bg-primary);
    transform: translateY(-2px);
}

#logo {
    filter: var(--theme-logo-filter);
    margin-bottom: -5px;
}

#breadcrumb {
    margin-top: 8px;
    box-shadow: var(--theme-box-shadow);
    color: var(--theme-text-accent);
}

p.logout {
    transform: translateY(-4px);
    box-shadow: none !important;
}

p.logout input {
    background-color: var(--theme-bg-secondary);
    box-shadow: none !important;
}

p#dbs {
    position: relative;

    select {
        position: absolute;
        top: 5px;
        left: 15px;
        right: 0;
        background-color: var(--theme-bg-primary);
        border-color: transparent !important;
        box-shadow: none;

        &:hover {
            color: var(--theme-text-accent);
            background-color: var(--theme-bg-accent);
        }
    }
}

/* links */

a,
a:visited {
    color: var(--theme-text-link) !important;
    text-transform: lowercase;
}

a:hover {
    color: var(--theme-text-accent) !important;
}

a.active {
    font-weight: 500;
    color: var(--theme-text-accent) !important;
    text-decoration: underline !important;
}


/* tables */

th {
    font-weight: 500;
}

td,
th {
    text-transform: lowercase;
    padding: 0.3em;
}

table.odds {
    tr:nth-child(odd) {
        background-color: var(--theme-bg-primary);
    }

    tr:nth-child(even) {
        background-color: var(--theme-bg-secondary);
    }

    tbody {

        td,
        td *:not(a) {
            font-family: var(--theme-datatable-font);
            font-size: var(--theme-datatable-font-size);
            white-space: var(--theme-datatable-whitespace);
        }
    }
}

/* forms */

input:not(.icon),
select,
button,
fieldset {
    color: inherit;
    border: 1px solid #ddd;
    cursor: pointer;
}

input:not(.icon),
select,
button {
    color: inherit;
    padding: 5px 8px;
    background: var(--theme-bg-primary);
}

input:not(.icon),
select {
    background: var(--theme-bg-secondary);
}

input:not(.icon):focus {
    background-color: var(--theme-bg-primary);
    outline: 2px solid var(--theme-text-accent) !important;
    border-color: transparent;
}

input.size {
    width: 10ex;
}

table.layout {

    select,
    input:not([type="radio"], [type="checkbox"], .icon) {
        width: 100%;
    }
}

legend,
legend>a {
    color: var(--theme-text-link);
    font-weight: 500;
}

legend>a:hover {
    color: var(--theme-accent);
}

input[type="submit"] {
    box-shadow: var(--theme-box-shadow);
    background-color: var(--theme-bg-secondary);
    color: var(--theme-text-accent);
    border-radius: 0.25rem;
    padding: 5px 10px;
    font-weight: 500;
    text-transform: lowercase;
}

input[type="submit"]:hover {
    color: var(--theme-text-accent);
    background-color: var(--theme-bg-accent);
    border-color: var(--theme-bg-accent) !important;
}

button.icon {
    background-color: var(--theme-text-link);
}

/* custom checkbox */

input[type="checkbox"],
input[type="radio"] {
    appearance: none;
    width: 1.15rem;
    height: 1.15rem;
    background: var(--theme-bg-secondary);
    outline: none;
}

input[type="radio"] {
    border-radius: 9999px;
}

input[type="checkbox"]:focus,
input[type="radio"]:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 120, 255, 0.3);
}

input[type="checkbox"]:checked,
input[type="radio"]:checked {
    background: var(--theme-text-link);
    border-color: var(--theme-text-link);
    background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'><path d='M5.707 7.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L7 8.586 5.707 7.293z'/></svg>");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

#form p {
    display: flex;
    place-items: center;
    gap: 0.5rem;
}

/* other stuff */

form p.message {
    background-color: var(--theme-bg-primary);
    border: 1px solid var(--theme-border);
}

pre.sqlarea .jush-sql_code {
    background-color: var(--theme-bg-secondary);
    height: 100%;
    display: block;
    padding: 10px;
}
